@charset "utf-8";


/* bbs table */
table.bbs_list {
	width:100%;
	border-collapse: collapse;
	border-top:#9dbbed 2px solid;
}
table.bbs_list2 {
	width:100%;
	border-collapse: collapse;
	border-top:#9dbbed 2px solid;
	overflow-x:auto;
	overflow-y:hidden;
}
table.bbs_list th {
	height:26px;
	font-family:dotum;
	color:#4168a3;
	background-color:#dee7f8;
	border-bottom:#bdcde4 1px solid;
}
table.bbs_list2 th {
	height:26px;
	font-family:dotum;
	color:#4168a3;
	background-color:#dee7f8;
	border-bottom:#bdcde4 1px solid;
}

table.bbs_list th.first{
	border-left:#bdcde4 1px solid;
	text-align:left;
	padding-left:17px;
}
table.bbs_list th.first_c{
	border-left:#bdcde4 1px solid;
	text-align:center;
}
table.bbs_list th.first_s{
	border-left:#bdcde4 1px solid;
	text-align:left;
	padding-left:17px;
	background-image:url(../images/star.png);
}
table.bbs_list th.last{
	border-right:#bdcde4 1px solid;
	padding-left:17px;
}
table.bbs_list th.last_c{
	border-right:#bdcde4 1px solid;
	text-align:center;
}
table.bbs_list td.first{
	text-align:left;
	border-left:#bdcde4 1px solid;
	padding-left:4px;
}
table.bbs_list td.last {
	border-right:#bdcde4 1px solid;
	text-align:left;
	padding-left:4px;
}
table.bbs_list td.last_c {
	border-right:#bdcde4 1px solid;
	text-align:center;
}

table.bbs_list td {
    height:26px; 
	font-family:dotum;
	text-align:center;
	border-bottom:#bdcde4 1px solid;
}
table.bbs_list2 td {
    height:26px; 
	font-family:dotum;
	text-align:center;
	border-bottom:#bdcde4 1px solid;
}
table.bbs_list td.l {
	text-align:left;
	padding-left:4px;
}
table.bbs_list2 td.l {
	text-align:left;
	padding-left:4px;
}
.th{
	font-color:#4367a3;
}
.td_t{
    text-align:left;
	padding-left:4px;
}
.td_t1{
    text-align:left;
	padding-left:17px;
}
.td_t1_s{
    text-align:left;
	padding-left:17px;
	background-image:url(../images/star.png);	
}
.td_t1_sc{
    text-align:center;
	background-image:url(../images/star.png);	
}

/* left */
.left title {  
    text-decoration:none;
	color:#4c4c4c; 
	font-weight:bold; 
	height:25px; 
	line-height:25px;
	letter-spacing:-1px;
}

/* search */
.select {
	width:126px;
	height:18px;
	font-size:12px;
	border:1px solid #CFCFCF; 
}
.select_sm {
    width:60px;
	height:18px;
	font-size:12px;
	border:1px solid #CFCFCF; 
}
.select_l {
	width:143px;
	height:18px;
	font-size:12px;
	border:1px solid #CFCFCF; 
}
.search_input {
	height:18px;
	font-size:12px;
	padding-top:2px;
	color:#4f4f4f;
	border:1px solid #CFCFCF; 
}
.search_input_d {
	height:18px;
	font-size:12px;
	padding-top:2px;
	color:#767676;
	border:1px solid #CFCFCF; 
	background:#e6e7e7;
}
.search_input_m {
    height:25px;
  	font-family:dotum;
	font-size:12px;
	color:#4f4f4f;
	margin: 3px 0 3px 0;
	border:1px solid #CFCFCF; 
}
.search_input2 {
    border: 1px solid #CFCFCF;
    color: #4F4F4F;
    font-size: 12px;
    height: 18px;
    padding-top: 2px;
    width: 145px;
}

.data_search {
	position:relative;
	margin: 10px 38% 0 37%;
}
.data_ti{
    font-weight:bold; 
	color:#4f4f4f;
}
.data_num{
	color:#4f4f4f;
}
.data_num_r{
	color:#4f4f4f;
	float:right;
}

/* paging */
.data_page {
	position:relative;
	margin: 10px 0 0 0;
}
.page_count {
	position:absolute;
	left:10px;
}
.page_nav {
	position:relative;
	text-align:center;
}
