<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="daily" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/logs/SGIS.log"/>
		<param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] %p - %C{1}.%M(%L) | %m%n"/>
		</layout>
	</appender>
    <appender name="methodStdout" class="org.apache.log4j.ConsoleAppender">
      <param name="Append" value="true"/>
       <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] %p - %C{1}.%M(%L) | %m%n"/>
		</layout>
    </appender>
   
    <logger name="org.springframework">
        <level value="error" />
        <appender-ref ref="methodStdout" />
    </logger>

    <!-- java.sql package use query appender, is not extend root. -->
    
    <logger name="java.sql.Connection" additivity="false">
        <level value="debug" />
        <appender-ref ref="methodStdout" />
    </logger>

    <logger name="java.sql.Statement" additivity="true">
        <level value="debug" />
        <appender-ref ref="methodStdout" />
    </logger>

    <logger name="java.sql.PreparedStatement" additivity="true">
        <level value="debug" />
        <appender-ref ref="methodStdout" />
    </logger>
    
    <logger name="java" additivity="true">
        <level value="error" />
        <appender-ref ref="methodStdout" />
    </logger>

    <logger name="com.signgate">
        <level value="debug" />
       <appender-ref ref="methodStdout" />
    </logger>   
	<root>
		<level value="debug" />
        <appender-ref ref="daily" />
	</root>

</log4j:configuration>